.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: antiquewhite;
    background: rgba(71, 124, 96, 0.485);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px #101110f4;
    letter-spacing: 4px;

}

.icon {
    color: white
}
